*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 100%;
  padding: 10px 20px;
  background-color: purple;
}

footer {
  background-color: purple;
  text-align: center;
  height: 70px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: .7rem;
}

h1 {
  font-style: italic;
}

h2 {
  text-align: center;
}

h3 {
  font-family: 'Lobster', cursive;
}

p {
  font-size: .9rem;
  line-height: 1.4;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li {
  padding: 0 12px;
}

/* Home Page */

#headline {
  min-width: min-content;
  max-width: max-content;
  max-height: 45vh;
  /* max-width: 70%; */
  padding: 30px 40px 0 40px;
  font-size: calc(10px + .4vw);
  margin: 0 auto;
  text-align: center;
}

#headline1 {
  /* text-align: left; */
}

#headline2{
  /* text-align: right; */
  /* margin-bottom: -7px; */
}

#headline3 {
  text-align: center;
  /* margin-bottom: -10px; */
}

.hide {
  display: none;
}

#home {
  font-family: 'Lakki Reddy', cursive;
  font-size: 1.5rem;

  /* This offsets the tall em-square of this font */
  padding-top: 15px;
}

#menu {
  margin-left: auto;
}

#homeHero {
  width: 100vw;
  height: 270px;
  margin-bottom: 40px;
  background-image: url('./heroCat.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
}

#menuHero {
  width: 100vw;
}

#menuHero img {
  width: 100%;
  max-height: max(20vh, 300px);
  object-fit: cover;
}

.credit {
  font-size: .8rem;
}

#features {
  margin-bottom: 50px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  text-align: center;
}

.feature {
  padding: 20px;
  font-size: 1.2rem;
  width: 30%;
  min-width: min(350px, 60vw);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.feature span {
  /* font-size: 2rem; */
}

.smol {
  font-family: 'Dancing Script', cursive;
  font-style: normal;
}

.chonker {
  font-family: 'Lobster', cursive;
  font-style: normal;
}

.boi {
  font-family: 'Sacramento', cursive;
  font-style: normal;
}

.unit {
  font-family: 'Chango', cursive;
  font-style: normal;
  text-transform: uppercase;
}

.cat {
  color: red;
  font-family: 'Lakki Reddy',
    cursive;
  font-style: normal;
  font-size: 2rem;
}

#no {
  width: 110px;
  height: 110px;
  background-image: url('./microchip.jpg');
  background-size: contain;
  border-radius: 50%;
}

#dish {
  width: 110px;
  height: 110px;
  margin: auto;
  background-image: url('./deepDish.jpg');
  background-size: contain;
  border-radius: 50%;
}

#fountain img {
  width: 110px;
  border: 10px solid green;
  border-radius: 50%;
  /* margin: auto; */
}

.feature img {
  width: 110px;
}

/* Menu page */

/* Om Nom Noms */
.menuTitle {
  color: red;
  font-family: 'Lakki Reddy', cursive;
  font-style: normal;
  font-size: 2.8rem;
  padding-bottom: 0;
}

#menuItems {
  padding: 30px;
  width: 70vw;
  /* height: auto; */
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  /* justify-content: center; */
  align-items: flex-start;
  gap: 40px 80px;
}

.menuItem {
  display: grid;
  grid-template-columns: 90px minmax(70px, 2fr) 20px;
  align-items: center;
  grid-column-gap: 2px;
  grid-row-gap: 5px;
}

/* Menu Item contents */

.photo {
  width: 80px;
  height: 80px;
}

.dish {
  align-self: flex-end;
  border-bottom: 2px dotted gray;
}

.price {
  text-align: right;
  align-self: flex-end;
  border-bottom: 2px dotted gray;
}

.desc {
  grid-column: 1 / 4;
}