*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  padding: 10px 20px;
  background-color: purple;
}

h1 {
  padding: 20px;
  text-align: center;
  font-style: italic;
}

.cat {
  color: red;
  font-family: 'Lakki Reddy', cursive;
  font-style: normal;
  font-size: 2.5rem;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#home {
  font-family: 'Lakki Reddy', cursive;
  font-size: 1.5rem;

  /* This offsets the tall em-square of this font */
  padding-top: 15px;
}

#menu {
  margin-left: auto;
}

li {
  padding: 0 12px;
  
}

#homeHero{
  width: 100vw;
  height: 270px;
  background-image: url('./heroCat.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
}

#menuHero {
  width: 100vw;
  height: 300px;
  background-image: url('./catFoodSmallest.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.credit {
  font-size: .8rem;
}

#features {
  margin: auto;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.feature {
  padding: 20px;
  font-size: 1.2rem;
}

.feature span {
  font-size: 2rem;
}

.smol {
  font-family: 'Dancing Script', cursive;
  font-style: normal;
}

.chonker {
  font-family: 'Lobster', cursive;
  font-style: normal;
}

.boi {
  font-family: 'Sacramento', cursive;
  font-style: normal;
}

.unit {
  font-family: 'Chango', cursive;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

img {
  width: 80px;
  border: 6px solid red;
  border-radius: 50%;
}