*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;

}

li {
  padding: 10px;
  
}

#hero img {
  width: 100vw;
  /* background-image: url('./heroCat.jpg'); */
}